.nav-container {
    background-color: #1F2937;
    font-family: sans-serif;
    display: flex;
    padding: 30px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.headerlink {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
    justify-content: space-between;
}

.hero-section {
    background-color: #1F2937;
    display: flex;
    padding: 60px;  
}

.left{
    display: flex;
    flex-direction: column;
}

.main-hero{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    flex-direction: column;
}

.secondary-hero {
    font-size: 18px;
    color: #e5e7eb;
    flex-direction: column;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 10px;
    border-radius: 8px;
    flex-direction: column;
    width: 100px;
    align-items: center;
    font-size: 18px;
}

.image-hero {
    display: flex;
    background-color: #e5e7eb;
    padding: 25px;
    width: 500px;
    height: 300px;
    align-items: center;
    justify-content: center;
}

