body {
    margin: 0;
    font-family: sans-serif;
}

.nav-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    width: 150px;
    height: auto;
}

.headerlinks {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
    display: inline-flex;
    gap: 15px;
}

.hero-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px; 
}

.left{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: auto;
    gap: 15px;
    margin-left: 60px;
    justify-content: center;
}

.main-hero{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary-hero {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 100px;
    align-items: center;
    font-size: 18px;
}

.image-hero {
    display: block;
    background-color: #e5e7eb;
    padding: 150px;
    margin-right: 60px;
}

.info-section {
    background-color: white;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: auto;
}

.boxcontainer {
    height: 140px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    border: #3882f6;
    border-style: solid;
    border-radius: 12px;
    padding: 60px;
}

.infotxtcontainer {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 60px;
    margin-right: 60px;
}

.text {
    font-size: 18px;
    color: darkgrey;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.review-section {
    background-color: #e5e7eb;
    padding: 60px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 200px;
    justify-content: center;
}

.reviewtext {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    padding: 30px;
}

.subreviewtext {
    text-align: right;
    font-size: 18px;
}

.cta-section {
    padding: 60px 80px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;

}

.ctacontainer {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 30px 60px;
    width: 100%;
}

.ctatext {
    color: white;
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 5px;
}

.ctasubtext {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.ctabutton {
    background-color: #3882f6;
    color: #f9faf8;
    border: solid;
    border-color: #f9faf8;
    padding: 4px;
    border-radius: 8px;
    width: 100px;
    font-size: 18px;
    margin-left: auto;
}

.footer {
    background-color: #1F2937;
    font-size: 18px;
    font-weight: 100;
    color: #f9faf8;
    width: 100%;
    padding: 30px;
    text-align: center;
}